<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1>Write new message..!</h1>
    <form method="post" action="/chats">
        <input placeholder="Write your name" name="from">
        <br><br>
        <textarea name="msg" placeholder="Your Message"></textarea>
        <br><br>
        <input placeholder="Receiver Name" name="to">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>