body{
    background-color: rgb(246, 210, 233);
    padding: 20px;
    margin:20px;
}
h1{
    text-align: center;
}
.chats{
    background-color: rgb(3, 58, 58);
    color: white;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    margin: 10px;
}
.msg{
    background-color: rgb(64, 70, 70);
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}
.del,button{
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(60, 66, 66);
    color: white;
    font-weight: bold;
    
}
.form{
    display: flex;

}

